.class1{
    color: red;
}
.class2{
    background-color: yellow;
}
.class3{
    font-size: 100px;
}

/* h1{
    color:antiquewhite;
    font-size: 40px;
} */
/* 
span{
    font-size: 30px;
    
    background-color: darkblue;
} */